<div class="container-fluid">
  <nav class="nav justify-content-center  ">
    <a class="nav-link active" href="#" aria-current="page">Inicio</a>
    <a class="nav-link active" routerLink="quienessomos">Quienes Somos</a>
    <a class="nav-link active" routerLink="contacto">Contactos</a>
    <a class="nav-link active" href="#">Link</a>
  </nav>
</div>

<!--<div class="col-md-3 text-end"> <button type="button" routerLink="contacto" class="btn btn-outline-primary me-2">Contacto</button>     
</div>-->
